{% macro spell( name='', school='', level='', casting_time='', components='', range='', target='', duration='', saving_throw='', spell_resistance='', description='' ) -%}
<div class="spell-name" id="name">{{name}}</div>
<div id="details">
<dl class="dl-horizontal">
  <dt>School</dt><dd id="school">{{school}}</dd>
  <dt>Level</dt><dd id="level">{{level}}</dd>
  <dt>Casting Time</dt><dd id="casting_time">{{casting_time}}</dd>
  <dt>Components</dt><dd id="components">{{components}}</dd>
  <dt>Range</dt><dd id="range">{{range}}</dd>
  <dt>Target</dt><dd id="target">{{target}}</dd>
  <dt>Duration</dt><dd id="duration">{{duration}}</dd>
  <dt>Saving Throw</dt><dd id="saving_throw">{{saving_throw}}</dd>
  <dt>Spell Resistance</dt><dd id="spell_resistance">{{spell_resistance}}</dd>
</dl>
</div>
<div id="description">{{description | safe}}
</div>
{%- endmacro %}