{% from "spells.html" import spell %}
{% extends "layout.html" %}

{% block head %}
{{ super() }}
  <style>
    #spell-area { display:none; }
  </style>
{% endblock head %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename="js/index.js") }}"></script>
{% endblock javascript %}

{% block body %}
<div class="hero-unit">
	<h1>Tome of Arcane Wisdom</h1>
	<form class="form-search">
		<input type="text" class="input-medium search-query" id="spell-searchbox">
		<button type="submit" class="btn" id="spell-searchbutton">Search</button>
	</form>
	<div id="notification">
	</div>
	<div id="spell-area">
	  {{ spell() }}
	</div>
</div>
{% endblock body %}
